<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layouts</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <a href="#" id="logo">LOGO</a>
        <button id="openMenu" type="button">&#9776;</button>
        
        <nav id="menu">
        <button id="closeMenu" type="button">X</button>
            <a href="#">Home</a>
            <a href="#">Products</a>
            <a href="#">About</a>
            <a href="#">Contacts</a>
        </nav>
    </header>
    <aside>Aside (Relacionamento)</aside>
    <main>
        Main (Principal)
        <section>

        </section>
    </main>
    <footer>Footer (Rodapé)</footer>

    <script type="text/javascript" src="script.js"></script>
</body>
</html>